footer {
    position: fixed;

    bottom: 0;
    left: 0;

    height: 5vh;
    width: 100vw;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: green;
    color: white;

    box-shadow: 0rem -0.3rem 1rem black;

    border-radius: 0.5rem 0.5rem 0 0;
}

footer > span {
    font-size: 1rem;
}
